/* Coolors Exported Palette - coolors.co/daf2e0-1f271b-0b4f6c-145c9e-cbb9a8 */

$color1: rgba(218, 242, 224, 1);
$color2: rgba(31, 39, 27, 1);
$color3: rgba(11, 79, 108, 1);
$color4: rgba(20, 92, 158, 1);
$color5: rgba(203, 185, 168, 1);
